<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos - Barberia Alura</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/productos.css">

</head>

<body>
    <header class="header-barbershop">
        <div class="logo-header">
            <h1>
                <img src="../img/logo.webp" alt="">
            </h1>
        </div>

        <nav class="nav-header">
            <ul>
                <li><a href="../../index.html">Home</a></li>
                <li><a href="/assets/views/productos.html">Productos</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>

</body>

</html>