<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos - Barberia Alura</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/productos.css">

</head>

<body>
    <header class="header-barbershop">
        <div class="logo-header">
            <h1>
                <img src="../img/logo-blanco.webp" alt="">
            </h1>
        </div>

        <nav class="nav-header">
            <ul>
                <li><a href="../../index.html">Home</a></li>
                <li><a href="/assets/views/productos.html">Productos</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>



    <main>
        <div class="banner">
            <img src="../img/barbershop-banner-960x300.webp" alt="">
            <div class="titulo">
                <h1>Productos</h1>
            </div>
        </div>

        <section class="contenedor-productos">

            <div class="card-producto">
                <div class="header-producto">
                    <h2>Cabello</h2>
                </div>
                <div class="body-producto">
                    <div class="imagen-producto">
                        <img src="../img/cabello.webp" alt="">
                    </div>

                    <div class="descripcion-producto">
                        <p>Con tijera o máquina, a preferencia del cliente</p>
                    </div>
                </div>

                <div class="footer-producto">
                    <span>$ 10.00</span>
                </div>
            </div>

            <div class="card-producto">
                <div class="header-producto">
                    <h2>Barba</h2>
                </div>
                <div class="body-producto">
                    <div class="imagen-producto">
                        <img src="../img/barba.webp" alt="">
                    </div>

                    <div class="descripcion-producto">
                        <p>Corte y diseño profesional de barba</p>
                    </div>
                </div>

                <div class="footer-producto">
                    <span>$ 08.00</span>
                </div>
            </div>


            <div class="card-producto">
                <div class="header-producto">
                    <h2>Cabello + Barba</h2>
                </div>
                <div class="body-producto">
                    <div class="imagen-producto">
                        <img src="../img/cabello+barba.webp" alt="">
                    </div>

                    <div class="descripcion-producto">
                        <p>Paquete completo de cabello y barba</p>
                    </div>
                </div>

                <div class="footer-producto">
                    <span>$ 15.00</span>
                </div>
            </div>

        </section>
    </main>

    <footer>
        <img src="../img/logo-blanco.webp" alt="">
        <p class="copryright">&copy; Copyright Barbería Alura - 2024</p>
    </footer>

</body>

</html>